@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: wheat;
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 3px black;
}